<html>
    <body>
        <form action="/login" method="POST">
            <label for="username">USERNAME:</label>
            <input type="text" id="username" name="username" required> <br>
            <label for="password">PASSWORD:</label>
            <input type="password" id="password" name="password" required> <br>
            <button type="submit">SUBMIT</button>
            <p>Don't have an account?  <a href="/sign-up">Register Here</a></p>
        </form>
    </body>
</html>