<html>
    <body>
        <form action="/login" method="POST">
            <label for="username">USERNAME:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">PASSWORD:</label>
            <input type="text" id="password" name="password" required>
            <button type="submit">SUBMIT</button>
        </form>
    </body>
</html>